.inputContainer {
  /* height: 100%; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  font-size: 18px;
  font-weight: 400;
  overflow-wrap: break-word;
  text-wrap: wrap;
  min-height: 100%;
  color: white;
  padding: 5px;
  opacity: 0.9;
  background-color: rgba(3, 3, 3, 0.718); 
  word-wrap: break-word;
  word-break: break-all; 
}