.inputContainer {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  font-size: 35px;
  font-weight: 800;
  overflow-wrap: break-word;
  text-wrap: wrap;
  min-height: 150px;
  color: white;
  padding: 20px;
  opacity: 0.9;
  background-color: rgba(3, 3, 3, 0.718); 
  word-wrap: break-word;
  word-break: break-all; 
}