.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.appContainer {
  height: 550px;
  width: 400px; 
}

.titleContainer {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.icon {  
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50px;
}

.calbody {
  height: 60%;  
}

.row {
  height: 70px;
  display: flex;  
}

button {
  width: 100px;
}

.equal, .delete {
  width: 200px;
}

.delete, 
.ac,
.equal {  
  font-size: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--appVeige);
  border: solid rgba(128, 128, 128, 0.206) 2px;
  cursor: pointer;
  user-select: none;  
}

.ac {
  width: 100px;
}

.delete:hover,
.ac:hover,
.equal:hover {
  opacity: 0.6;
}

.git{
  height: 40px;
  width: 40px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: var(--appRed);    
}


