.appContainer {
  height: 90vh;
  width: 400px;
 
  
}

.titleContainer {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 10px;
  font-weight: bold;
}

.titleContainer > img {
  height: 30px;
  width: auto;
  background-color: white;
  border-radius: 50px;
}

.calbody {
  height: 60%;
  
}

.row {
  height: 70px;
  display: flex;
  
}

button {
  width: 100px;
}

.equal, .delete {
  width: 200px;
}

.delete, 
.ac,
.equal {  
  font-size: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--appVeige);
  border: solid rgba(128, 128, 128, 0.206) 2px;
  cursor: pointer;
  user-select: none;  
}

.ac {
  width: 100px;
}

.delete:hover {
  opacity: 0.6;
}

.ac:hover {
  opacity: 0.6;
}

.equal:hover {
  opacity: 0.6;
}

.git{
  height: 40px;
  width: 40px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  color: var(--appRed);    
}